body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1365px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:99px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:920px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:920px;
}
#u2 {
  position:absolute;
  left:2px;
  top:452px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:562px;
  top:32px;
  width:337px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:40px;
  top:144px;
  width:593px;
  height:736px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:736px;
}
#u6 {
  position:absolute;
  left:2px;
  top:360px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:666px;
  top:144px;
  width:664px;
  height:486px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:486px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:682px;
  top:80px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:670px;
  top:0px;
  width:695px;
  height:100px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:24px;
  top:0px;
  width:53px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  height:2px;
}
#u21 {
  position:absolute;
  left:153px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:12px;
  top:0px;
  width:76px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:59px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:76px;
  height:2px;
}
#u27 {
  position:absolute;
  left:420px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:11px;
  top:0px;
  width:79px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u33 {
  position:absolute;
  left:287px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:24px;
  top:0px;
  width:53px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  height:2px;
}
#u39 {
  position:absolute;
  left:568px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:-2px;
  top:9px;
  width:105px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u39_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:-2px;
  top:9px;
  width:105px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:11px;
  top:0px;
  width:79px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u45 {
  position:absolute;
  left:10px;
  top:0px;
  width:20px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:40px;
  top:15px;
  width:72px;
  height:70px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:27px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:1019px;
  width:1365px;
  height:410px;
  overflow:hidden;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:410px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:370px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:370px;
}
#u51 {
  position:absolute;
  left:2px;
  top:177px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:367px;
  width:1365px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:379px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:63px;
  top:1062px;
  width:46px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:15px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:300px;
  top:1062px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:323px;
  top:1092px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:323px;
  top:1114px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:300px;
  top:1158px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:323px;
  top:1190px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:323px;
  top:1214px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:323px;
  top:1238px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:322px;
  top:1264px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:322px;
  top:1290px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:323px;
  top:1190px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:323px;
  top:1216px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:323px;
  top:1242px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:323px;
  top:1264px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u80 {
  position:absolute;
  left:323px;
  top:1292px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:323px;
  top:1092px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82 {
  position:absolute;
  left:323px;
  top:1118px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:63px;
  top:1113px;
  width:172px;
  height:139px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:139px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:63px;
  top:1238px;
  width:104px;
  height:104px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u86 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1120px;
  top:1066px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:13px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1130px;
  top:1113px;
  width:90px;
  height:176px;
  color:#C5C7C8;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:176px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1230px;
  top:1113px;
  width:90px;
  height:176px;
  color:#C5C7C8;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:176px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:499px;
  top:1062px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:520px;
  top:1158px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:520px;
  top:1114px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:520px;
  top:1092px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:520px;
  top:1136px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:520px;
  top:1092px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:520px;
  top:1114px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:520px;
  top:1138px;
  width:70px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:520px;
  top:1157px;
  width:70px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:58px;
  top:1065px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
