body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1365px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:99px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:920px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:920px;
}
#u2 {
  position:absolute;
  left:2px;
  top:452px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:562px;
  top:32px;
  width:337px;
  height:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:40px;
  top:144px;
  width:593px;
  height:736px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:736px;
}
#u6 {
  position:absolute;
  left:2px;
  top:360px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:666px;
  top:144px;
  width:664px;
  height:486px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:486px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:682px;
  top:80px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:825px;
  top:0px;
  width:540px;
  height:100px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:24px;
  top:0px;
  width:53px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  height:2px;
}
#u21 {
  position:absolute;
  left:153px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:12px;
  top:0px;
  width:76px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:59px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:76px;
  height:2px;
}
#u27 {
  position:absolute;
  left:420px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:11px;
  top:9px;
  width:79px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:11px;
  top:0px;
  width:79px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:2px;
}
#u33 {
  position:absolute;
  left:287px;
  top:26px;
  width:100px;
  height:50px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:24px;
  top:9px;
  width:53px;
  height:32px;
  font-size:26px;
  color:#FF6600;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:24px;
  top:0px;
  width:53px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:36px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:53px;
  height:2px;
}
#u39 {
  position:absolute;
  left:10px;
  top:0px;
  width:20px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:0px;
  top:1019px;
  width:1365px;
  height:370px;
  overflow:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:370px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:370px;
}
#u43 {
  position:absolute;
  left:2px;
  top:177px;
  width:1361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:57px;
  top:1059px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:57px;
  top:1109px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:80px;
  top:1139px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:80px;
  top:1162px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:57px;
  top:1206px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:80px;
  top:1238px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:80px;
  top:1261px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:80px;
  top:1286px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:79px;
  top:1311px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:79px;
  top:1338px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:80px;
  top:1238px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:80px;
  top:1263px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:80px;
  top:1289px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  position:absolute;
  left:80px;
  top:1312px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:80px;
  top:1339px;
  width:70px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:80px;
  top:1139px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u70 {
  position:absolute;
  left:80px;
  top:1166px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:58px;
  top:1065px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
